<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Created Page</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
     crossorigin="anonymous"></script>

    <style>
        .title {
            background-color: rgb(255, 252, 90);
            max-width: 930px;
            padding: 5px;
        }

        #profile-edit {
            position: relative;
            left: 760px;
        }

        .user-name {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            font-size: 25px;
            padding: 5px;
        }

        .saved-recipes {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }

        .profile-background {
            background-color:  rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        img {
            width: 200px;
            height: 250px;
            border-color: black;
            border-width: 6px;
            border-style: inset;
            border-radius: 15px;
            margin: 6px;
        }
        
    </style>

    <script>
        window.addEventListener("DOMContentLoaded", domLoaded);
        function domLoaded() {
    
            let backgroundColorlement = document.getElementById("backgroundColor").innerHTML;

            $(".user-name").css("background-color", backgroundColorlement);
            $(".saved-recipes").css("background-color", backgroundColorlement);
            $(".profile-background").css("background-color", backgroundColorlement);
        }
    </script>

</head>

<body>
    
    <% formResults.forEach(function(response) { //debugger; %>

        <div class="title">
            <h1>Your Profile</h1>
            <button id="profile-edit"><a href="/editprofile/<%= response._id %>">Click to Edit Profile</a></button>
        </div>

        <div class="user-name">
            <label>First Name:
                <u id="firstName"><%= response.firstName %></u>
            </label> 
        
            <p></p>

            <label>Last Name:
                <u id="lastName"><%= response.lastName %></u>
            </label>

            
        </div>


        <div class="profile-background">
            <h2>Background Color</h2>
            <label>
                    <p id="backgroundColor" name="backgroundColor"><%= response.backgroundColor %></p>
            </label>
        </div>

        

    <div class="saved-recipes">
        <h2>Saved Recipes</h2>

        <p id="savedRecipes" name="savedRecipes">
            <ul id="list">
                <% response.savedRecipes.forEach((recipe)=>{%>
                    <form action="/recipe" method="post">
                        <button type="submit" name="recipeurl" value="<%=recipe%>"><img src="/<%=recipe%>" alt="<%=recipe%>"></button>
                    </form>
                <%});%>
            </ul>
        </p>
        <div id="saved-imgs">

        </div>
    </div>

    <a href="/home">Back to Home Page</a>

    <% }); %>
</body>
</html>