<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Page</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
     crossorigin="anonymous"></script>
     
     <style>
        .title {
            background-color: rgb(255, 252, 90);
            max-width: 930px;
            padding: 5px;
        }

        .recipe-description {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }

        .recipe-ingredients {
            background-color: rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        .recipe-steps {
            background-color: rgb(211, 242, 249);
            max-width: 930px;
            padding: 5px;
        }
        .user-ratings {
            background-color: rgb(211, 225, 249);
            max-width: 930px;
            padding: 5px;
        }

        #pic {
            width: 500px;
            height: 650px;
            position: relative;
            left: 200px; 
            border-color: black; 
            border-width: 1px;
            border-style: inset;
            margin: 6px;
        }

        img {
            width: 200px;
            height: 250px;
            border-color: black;
            border-width: 6px;
            border-style: inset;
            border-radius: 15px;
            margin: 6px;
        }
    </style>

    <script>

        window.addEventListener("DOMContentLoaded", domLoaded);
        function domLoaded() {
            let recipeNum = parseInt(localStorage.getItem("recipeNum"));

            let RecipeNameElement = document.getElementById("recipe-name");
            let DescriptionNameElement = document.getElementById("description");

            let IngredientsElement = document.getElementById("ingredients");

            let LikesElement = document.getElementById("likes");
            let CommentElement = document.getElementById("comments");
            let CommentInputElement = document.getElementById("comment");
            let PhotoInputElement = document.getElementById("upload-photo");

            RecipeNameElement.innerHTML = recipes[recipeNum].recipeName;
            DescriptionNameElement.innerHTML = recipes[recipeNum].decription;

            function updateLikes() {
                LikesElement.innerText = parseInt(LikesElement.innerText) + 1;
            }
            document.getElementById("like-btn").addEventListener("click", updateLikes);

        }

    </script>

</head>

<body>
    <% recipeResults.forEach(function(response) { //debugger; %>
        <div class="title">
            <h1 id="recipe-name"><%= response.recipeName %></h1>

            <div class="navigation">
                <nav>
                    <a href="#recipe-description">Recipe Description</a>
                    <a href="#recipe-ingredients">Ingredients</a>
                    <a href="#recipe-steps">Steps</a>
                    <a href="#user-ratings">Ratings</a>
                    <a href="#photo-upload">Uploaded Photos</a>
                </nav>
            </div>

            <img id="pic" src=<%= response.recipeurl%>>
        </div>
    
        <div class="recipe-description" id="recipe-description">
            <p id="description"><%= response.decription %></p>
        </div>
    
        <div class="recipe-ingredients" id="recipe-ingredients">
            Ingredients
            
            <ul>
                <% response.ingredients.forEach((ingredient)=>{%>
                    <li><%=ingredient%></li> 
                <%});%>
            </ul>
        </div>
    
        <div class="recipe-steps" id="recipe-steps">
            Steps
            <ol>
                <% response.steps.forEach((step)=>{%>
                    <li><%=step%></li> 
                <%});%>
            </ol>
        </div>
    
        <div class="user-ratings" id="user-ratings">
            <h3>User Reviews and Ratings</h3>
            
            <button id="recipe-edit"><a href="/recipeedit/<%= response._id %>">Click to rate or post!</a></button>

            <h4>Likes</h4>
            <u id="likes">
                <%= response.likes %>
            </u>
            
            <h4>Comments</h4>
            <div id="comment">
                <% response.comments.forEach((comment)=>{%>
                    <li><%=comment%></li> 
                <%});%>
            </div>

            <div id="photo-upload">
                <h4>Uploaded Photos</h4>
            </div>


        </div>
        <% }); %>

    <a href="/home">Back to Home Page</a>
</body>

</html>